@import "variables.scss";

.card {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

table {
  display: block;
  overflow: auto;
  max-height: 75vh;
  border-spacing: unset;
  border-collapse: collapse;
  thead th {
    width: 100px;
  }
  thead th:first-child {
    width: 100%;
  }
  tbody tr:nth-child(odd) {
    background: #f6f6f6;
  }
  tbody td {
    padding: 1rem;
  }
  button {
    margin: auto;
  }
}
