@import "variables";

.christmas {
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  a {
    color: $primary;
    font-weight: 600;
  }

  p {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    color: $secondary;
  }

}