@import "variables";

.documents__list {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    color: $secondary;
    li {
        display: block;
        margin: 1rem 0;

        a {
            font-size: 1.2rem;
            border-bottom: 1px solid $secondary;
        }
    }
}

