@import "variables";

$lhsWidth: 300px;

.fb-share-button {
  height: 28px; // Prevent layout shift.
}

.story {
  margin: 0 auto;
  background: $secondary;
  border-radius: 4px;
  max-width: 1500px;
  &__main {
    display: flex;
    @media (max-width: 820px) {
      display: block;
    }
  }
  &__lhs {
    display: flex;
    flex-direction: column;
    min-width: $lhsWidth;
  }
  &__text {
    min-width: calc(100% - $lhsWidth);
  }
  &__title {
    margin-top: 2px;
  }
  &__content {
    margin: 0 1rem;
    margin-top: -17px;
    color: $text;
    line-height: 2rem;
  }
  &__image {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    max-height: 350px;
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px 20px;
  }
}
