// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #9c1661;
$secondary: white;
$tertiary: #000;
$text: rgb(104, 97, 97);
$success: rgb(178, 238, 160);
$success-text: rgb(25, 141, 25);
$danger: rgb(238, 160, 160);
$danger-text: rgb(141, 25, 25);
$warning: rgb(233, 238, 160);
$warning-text: rgb(107, 109, 20);

// Heights
$nav-height: 70px;
$footer-height: 320px;
